

#{extends 'main.html' /}
#{set title:'Home' /}
<ul class="breadcrumb breadcrumb-page">
    <li><a href="@{Application.index}"><i class="fa fa-home"></i>Inicio</a></li>
    <li> <a  href="@{Ofertas.list}">Ofertas</a></li>
    <li class="active"> <a  href="@{Ofertas.getProds(oferta.id)}">Productos</a></li>
</ul>
<div class="container" id="crudListTable">
    <div>
        <h4>
            Lista De Productos
        </h4>
        <a class="btn btn-inverse pull-right" href="@{blank()}">Nuevo</a>
        <table class="table table-bordered">
            <thead>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Tipo</th>
            </thead>
            <tbody>
                #{paginate.list items:objects, as:'pro'}
                    <tr>
                        <td>${pro.nombre}</td>
                        <td>${pro.descripcion}</td>
                        <td>${pro.precio}</td>
                        <td>${pro.tipoProducto}</td>
                    </tr>
                #{/paginate.list}
            </tbody>
        </table>
    </div>
</div>
