<div class="tablas-info">    
    <div class="tabla-titulo">
        <h2 class="titulo-lg">
            <i class="${_icono}"></i> &{'catalogo'} <strong>&{_titulo}</strong>
        </h2>
        <h2 class="titulo-sm">
            <strong rel="tooltip" data-placement="top" data-original-title="${_titulo}">
                <i class="${_icono}"></i>
            </strong>
        </h2>
        <div class="tabla-buttons">
            #{if _enlaceBusqueda}
                <div class="searchInput">
                    #{form _enlaceBusqueda, method:'GET'}
                    <i class="fa fa-search"></i>
                    <input type="text" class="search-query search" id="search"  name="search" placeholder="&{'buscar'}"/>
                    #{/form}
                </div>
            #{/if }
            <a class="button-adicional" href="${_enlaceBusqueda}" rel="tooltip" data-placement="top" data-original-title="&{'mostrar_todos'}">
                <i class="fa fa-sort-alpha-asc"></i>
            </a>   
            <a class="button-adicional" href="#" data-toggle="collapse" data-target="#tabla-data" rel="tooltip" data-placement="top" data-original-title="&{'colapsar'}">
                <i class="fa fa-chevron-down"></i>
            </a>
            
                <a class="button-adicional dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" rel="tooltip" data-placement="top" data-original-title="&{'imprimir'}">
                    <i class="fa fa-print"></i>

                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    #{if _reporte_pdf}
                    <li role="presentation"><a role="menuitem" target="_blank" tabindex="-1" href="${_reporte_pdf}"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
                    #{/if}
                    #{if _reporte_pdf && _reporte_xls}
                        <li role="presentation" class="divider"></li>
                    #{/if}
                    #{if _reporte_xls}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="${_reporte_xls}"><i class="fa fa-file-excel-o"></i> XLS</a></li>
                    #{/if}
                </ul>
            

            <a class="button-adicional" id="bitacoraButton" href="#responsive-bitacora" rel="tooltip" data-placement="top" data-toggle="modal" data-original-title="&{'bitacora'}">
                <i class="fa fa-history"></i>
            </a>
            <a href="@{blank()}" class="btn btn-primary btn-sm btn-new">
                <i class="fa fa-plus"></i> &{'nuevo'}</a>
            <a href="@{blank()}" class="btn btn-primary btn-sm btn-new btn-new-responsive" rel="tooltip" data-placement="top" data-original-title="&{'nuevo'}">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    #{doBody /}
</div>
#{bitacoraTag titulo:_titulo, tipo:_tipo/}