#{field 'object.' + _name}
    <div class="form-group-box">
        <div class="form-group floating-label-form-group">
            <label for="object_modulo" class="col-md-2 control-label">&{_name}</label>
            <div class="col-md-8">
                *{select 'object.modulo', items:models.security.enums.Modulo.values(), id:'object_modulo', labelProperty:'descripcion', class:'form-control input-sm select selectpicker show-tick'/}*
                #{select "object.${_name}", items:_items, id:"object_${_name}", value:_value, valueProperty:"name", labelProperty:'descripcion', class:'form-control input-sm select selectpicker show-tick'/}
            </div>
        </div>
    </div>
#{/}