<div class="form-titulo">
    <h2 class="titulo-lg"><i class="${_icon}"></i> &{_type} <strong>&{_title}</strong></h2>
    <div class="form-buttons">           
        <a class="button-adicional" href="#" data-toggle="collapse" data-target="#form-data" rel="tooltip" data-placement="top" data-original-title="&{'colapsar'}">
            <i class="fa fa-chevron-down"></i>
        </a>
        <a class="button-adicional" id="dropdownMenu2" data-toggle="dropdown" rel="tooltip" data-placement="top" data-original-title="&{'mas_acciones'}">
            <i class="fa fa-wrench"></i>
        </a>
    </div>
</div>