<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li class="gn-search-item">
                            <input placeholder="Buscar" type="search" class="gn-search">
                            <a class="gn-icon gn-icon-search"><span>Buscar</span></a>
                        </li>
                        <li class="gn-submenu">
                            <a class="gn-icon gn-icon-download ">Ofertas</a>
                            <ul>
                                <li><a class="gn-icon gn-icon-illustrator">Electrónica</a></li>
                                <li><a class="gn-icon gn-icon-photoshop">Linea Blanca</a></li>
                                <li><a class="gn-icon gn-icon-photoshop">Ropa</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Otros</a></li>
                            </ul>
                        </li>
                        <li class="gn-submenu">
                            <a class="gn-icon gn-icon-cog">Electrónica</a>
                            <ul>
                                <li><a class="gn-icon gn-icon-illustrator">Tv's</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Computadoras</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Video Juegos</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Camaras</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Otros</a></li>
                            </ul>
                        </li>
                        <li class="gn-submenu">
                            <a class="gn-icon gn-icon-cog">Linea Blanca</a>
                            <ul>
                                <li><a class="gn-icon gn-icon-illustrator">Licuadoras</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Lavadoras</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Refrigeradores</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Microondas</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Otros</a></li>
                            </ul>
                        </li>
                        <li class="gn-submenu">
                            <a class="gn-icon gn-icon-cog">Ropa</a>
                            <ul>
                                <li><a class="gn-icon gn-icon-illustrator">Camisas</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Blusas</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Pantalones</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Chamarras</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Otros</a></li>
                            </ul>
                        </li>
                        <li  class="gn-submenu  three-ch" >
                            <a class="gn-icon gn-icon-archive">Administracion</a>
                            <ul>
                                <li><a class="gn-icon gn-icon-article" href="@{Administracion.index}">Inicio</a></li>
                                <li><a class="gn-icon gn-icon-pictures" href="@{Ofertas.list}">Productos</a></li>
                                <li><a class="gn-icon gn-icon-videos" href="@{Usuarios.list}">Usuarios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>
        <li class="pull-left login-logo"><a href="/">Roofstore</a></li>
    </ul>
</div><!-- /container -->
<script src="/public/js/classie.js"></script>
<script src="/public/js/gnmenu.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>