#{field 'object.' + _name}
<div class="${_divClassValue}">
    #{if _edit}
    <div class="form-group">
    #{/if}
    #{else}
    <div class="form-group floating-label-form-group">
    #{/else}
    <label for="${field.id}">&{_name}</label>
    <div class="input-group">
        <input ng-model="objetivoSeleccionada.idAsStr" ng-show='false' name="${field.name}._id"/>
        <input ng-model="objetivoSeleccionada.descripcion" type="text" id="${field.id}" name="descripcion" value="${_value}" placeholder="&{_name}"
               class="form-control label-float #{ifError field.name} ${field.error.raw().toString().replaceAll("\\s", "")} #{/ifError}"  disabled="disabled">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#objetivos-select" data-toggle="modal"><i class="fa fa-globe"></i></a>
                    </span>
    </div>
</div>
</div>
#{/}