#{extends 'main.html' /}
#{set title:'Home' /}
#{navbarTag /}

<div class="container" style="padding-top: 80px;">
    <div  ng-view class="wrapper">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 400px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url(http://www.psdgraphics.com/file/colorful-triangles-background.jpg)">
                    <div class="carousel-caption">
                        Bienvenido
                    </div>
                </div>
                #{paginate.list items:top, as:'producto'}
                <div class="item" style="background-image: url(${producto.urlImg})">
                    <div class="carousel-caption">
                        ${producto.nombre}
                    </div>
                </div>
                #{/paginate.list}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
    <!--TODO: Falta cargar los productos por categoria-->
    
</div>
