#{extends 'main.html' /}
#{set title:'Home' /}
#{navbarTag /}

<div class="container" style="padding-top: 80px;">
    <div  class="wrapper">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 400px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url(http://www.psdgraphics.com/file/colorful-triangles-background.jpg)">
                    <div class="carousel-caption">
                        Bienvenido
                    </div>
                </div>
                #{paginate.list items:top, as:'producto'}
                <a href="@{Productos.view(producto.id)}" class="item" style="background-image: url(${producto.urlImg})">
                    <div class="carousel-caption">
                        ${producto.nombre}
                    </div>
                </a>
                #{/paginate.list}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        Revisa nuestra sección de Ofertas!
        <span class="btn btn-info btn-sm pull-right">Ir</span>
    </div>

    <div class="wrapper-products">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/" alt="Preview">
                <div class="caption">
                    <h5>Thumbnail label</h5>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info fixed-top" role="alert">
        Ver mas productos
        <span class="btn btn-info btn-sm pull-right">Ver mas</span>
    </div>

</div>
