#{extends 'main.html' /}
#{set title:'Home' /}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="./index.html"><img src="public/images/favicon.ico"></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="./getting-started.html">Productos</a>
                    </li>
                    <li class="">
                        <a href="./scaffolding.html">Crear Producto</a>
                    </li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <a class="btn btn-small action orange" href="https://github.com/OmarBenitez">Omar Benitez</a>
                    </li>
                    <li class="">
                        <a href="" target="_blank">Ver codigo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>